
<div class="container">  
</div>
<div class="container d-flex justify-content-center">
  <img class="moss" src="/images/moss_on_forest_floor.jpg" alt="">
  <img id="mushroomman" src="/images/mushroomman.png" alt="">
</div>
