<div class="container d-flex justify-content-center">

    {{#each mushrooms as |mushroom|}}
<div class="card" style="width: 18rem;">
    <a href="/mush-room/{{mushroom.id}}">
        <img src="https://images.unsplash.com/photo-1604857864317-b3f0bff0b9a0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" class="card-img-top" alt="...">
    </a>
  
</div>
    
    
    {{/each}}
</div>

