<div class="container d-flex justify-content-center">

    {{#each mushrooms as |mushroom|}}
    <div class="card" style="width: 18rem;">
  <img src="https://images.unsplash.com/photo-1604857864317-b3f0bff0b9a0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{mushroom.id}}: {{mushroom.mushroom_name}}</h5>
    <p class="card-text">{{mushroom.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"></li>

  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
    
    
    {{/each}}
</div>

